extends layout.pug
block scripts
block content 
    h1 Hello and welcome to Budget App!
    p This is a simple personal budgeting and cashflow application built with Express, MongoDB Atlas, and Auth0.